body{
    background-color: #C8C8C8;
}
.title{
    display: flex;
    margin-top: 100px;
    justify-content: center;
}
.title:hover{
    color: red;
}
.container{
    margin-top: 150px;
}

.titles{
    display: flex;
    list-style-type: none;
}
.title_con{
    margin-left: 150px;
}
.video{
    display: flex;
    list-style-type: none; 
}
.video_con{
    margin-left: 70px;
}